.git/**
.vscode/**
src/**
test/**
*.vsix
tsconfig.json
node_modules/@types/**
node_modules/typescript/**
node_modules/@vscode/**
node_modules/.bin/**
node_modules/**/README*
node_modules/**/CHANGELOG*
node_modules/**/*.map
out/**/*.map
out/test/**
.gitignore
.github/**
CONTRIBUTING.md
